<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_key</key>
	<string>8rffLpkEygv7a5vLrIBeevWWX</string>
	<key>consumer_secret</key>
	<string>HIQDVY7wT3IrTAn8hoG4nyyfONnavc2QP3AtewaPHo6akrKLzB</string>
</dict>
</plist>
